@use '@/shared/styles/utils';

.wrapper {
    @include utils.bg-color(primary, 5, true);
    @include utils.bg-opacity(0.7);
    @include utils.flex(row, center);
    @include utils.gap(all sm sm);
    @include utils.padding(all sm sm);
    @include utils.rounded(all sm xs);
    transition: all 250ms ease-in-out;

    &:hover,
    &:focus-within {
        @include utils.bg-opacity(1);
    }
}
.icon {
    aspect-ratio: 1;
    flex-grow: 1;
    height: unset;
    max-width: utils.spacing(md, 4xl);
}
.content {
    @include utils.flex(column, none, space-between);
    @include utils.gap(all sm sm);
    flex-grow: 1;
    height: 100%;
    overflow: hidden;

    h3 {
        @include utils.font-weight(lg);
    }

    p {
        @include utils.dots;
        line-clamp: 2;
    }

    span {
        @include utils.font-color(dark, 30);
        @include utils.font-size(sm, lg);
        @include utils.font-weight(lg);
        align-self: flex-end;
    }
}
.actions {
    @include utils.flex;
    @include utils.gap(all sm xs);
}
